.container{
    display:flex;
    justify-content: space-between;
}

.parent{
    position: relative;
}
.trash{
    /* position: absolute; */
    /* right:20px; */
    float: right;
}

li{
    line-height: 24px;
}

.time-list > .col-xs-3 > strong {
    color: #f77064;
}

.delete-btn, .edit-btn {
    background-color: transparent;
}

.panel-default {
    font-weight: 450;
}