.container{
    display:flex;
    justify-content: space-between;
}

.parent{
    position: relative;
}
.trash{
    /* position: absolute; */
    /* right:20px; */
    float: right;
}

li{
    line-height: 24px;
}