.day-container {
  width: 150px;
  height: 150px;
  float: left;
  display: inline;
  margin: 25px 0;
}

.events-container {
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  width: 150px;
  height: 150px;
}

.events-container:hover {
  background-color: lightgray;
}

.events-container-selected {
  background-color: lightgray;
}

.day {
  text-align: center;
  width: 150px;
}